/* !   navigation style */

.top-nav{
    background-color: #131921;
}
.custom-link{
    color: #ffff;
    font-size: 25px;
}
.custom-nav{
    background-color: #232f3e !important;
}

/* end of navigation style */

/* card */

.imgh{
    overflow: hidden;
}
.imgh:hover img{
    transform: scale(1.5);
    transition: all 3s;
}

/* end of card */

.card {
    margin-bottom: 20px;
    border: none
}

.box {
    width: 100%;
    padding: 40px;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin: auto;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

